/*字体*/
.font-12{
  font-size: 12px;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-18{
  font-size: 18px;
}
.font-20{
  font-size: 20px;
}
.font-27{
  font-size: 27px;
}
.color-555{
  color: #555555;
}
.color-646{
  color: #646464;
}
.color-666{
  color:#666666;
}
.color-808{
  color: #808080;
}
.color-333{
  color:#333333;
}
.color-fff{
  color: #fff;
}
.color-black{
  color:#272727;
}
.color-qianblack{
  color:#8a8a8a;
}
.color-24242e{
  color:#24242e;
}
.color-e75917{
  color:#e75917;
}
.color-f7ac05{
  color:#f7ac05;
}
.color-oran{
  color:#f5580b;
}
.color-gray{
  color:#676767;
}
.font-kaiti{
  font-family: "楷体";
}
.font-fangsong{
  font-family: "仿宋";
}
.font-italic{
  font-style: italic;
}
.f-w-500{
  font-weight: 500;
}
.f-w-600{
  font-weight: 600;
}
.f-w-700{
  font-weight: 700;
}
.f-w-800{
  font-weight: 800;
}
/*margin*/
.mt-20{
  margin-top: 20px;
}
.text-c{
  text-align: center;
}
.text-l{
  text-align: left;
}
.text-r{
  text-align: right;
}
.write-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*排版 flex*/
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.over{
  overflow: hidden;
}
.r{
  float: right;
}
.l{
  float: left;
}
.block{
  display: block;
}
.i-block{
  display: inline-block;
}
/*渐变*/
/*浅黄*/
.jianbian1{
  background:linear-gradient(to right,#fe8f02,#fe5500);
}
/*深黄*/
.jianbian2{
  background:linear-gradient(to right,#ffab00,#ff8601);
}
/*隐藏*/
.dis-no{
  display: none;
}
.dis-bl{
  display: block;
}
.ml-10{
  margin-left: 10px;
}
/*清除浮动*/
.clearboth{
  clear:both;
}
.clear::after{
  clear:both;
  content:"";
  display: block;
}
